/* tamanho do logo*/
.navbar-brand>img {
    height: 40px;
}

/*modal abrir na frente*/
.modal-backdrop {
    z-index: 1;
}

/*div com contagem de tempo da sessao*/
.finalcountdown{
    width:55px;
    height:55px;
    position:fixed;
    top:100px; left: 50%;
    z-index: 1;
    border-radius: 50px;
}

/*div com os agenda e fila icones*/
#agendaicone{
    position: fixed; /* posição absoluta ao elemento pai, neste caso o BODY */
    bottom: 0;
    left: 0;
    padding: 6px;
    margin-left: 5px;
    margin-bottom: 10px;
}
#filaicone{
    position: fixed; /* posição absoluta ao elemento pai, neste caso o BODY */
    bottom: 0;
    left: 0;
    padding: 6px;
    margin-left: 40px;
    margin-bottom: 10px;
}
/*div com os agenda e fila icones*/

/*div com tempo de resposta do servidor*/
.timeload{
    position: fixed; /* posição absoluta ao elemento pai, neste caso o BODY */
    bottom: 0;
    right: 0;
    background-color: #FFF;
    color: #FFF;
    background-color: #666;
    text-align: center; /* Centraliza o texto */
    z-index: 1000; /* Faz com que fique sobre todos os elementos da página */
    padding: 3px;
}
/*piscar*/
.blink {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {visibility: hidden;}
}
@-webkit-keyframes blink-animation {
    to {visibility: hidden;}
}
/*fim de piscar*/

/*jumbutron*/
.jumb-1{
    background: #22c1c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #fdbb2d, #22c1c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #fdbb2d, #22c1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
}
.jumb-2{
    background: #22c1c3;  /* fallback for old browsers */
    background-image: -webkit-linear-gradient(120deg, #84fa80 0%, #8fd3f4 100%);
    background-image: linear-gradient(120deg, #84fa80 0%, #8fd3f4 100%);
    background-size: 100%;
}
.jumb-3{
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
}
.jumb-4{
    background: #FDC830;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
}
.jumb-5{
    background: #59C173;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5D26C1, #a17fe0, #59C173);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5D26C1, #a17fe0, #59C173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
}
.jumb-6{
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
}
.jumb-7{
    background: #00F260;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
}
.jumb-8{
    background: #283c86;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: 100%;
}
.jumb-9{
    background: #30E8BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FF8235, #30E8BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FF8235, #30E8BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
}
.jumb-10{
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
}
/*fim de jumbotrom*/

/* call to action*/
/*apresentação dos modulos*/
.bs-calltoaction{
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.bs-calltoaction > .row{
    display:table;
    width: calc(100% + 30px);
}

.bs-calltoaction > .row > [class^="col-"],
.bs-calltoaction > .row > [class*=" col-"]{
    float:none;
    display:table-cell;
    vertical-align:middle;
}

.cta-contents{
    padding-top: 10px;
    padding-bottom: 10px;
}

.cta-title{
    margin: 0 auto 15px;
    padding: 0;
}

.cta-desc{
    padding: 0;
}

.cta-desc p:last-child{
    margin-bottom: 0;
}

.cta-button{
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 991px){
    .bs-calltoaction > .row{
        display:block;
        width: auto;
    }

    .bs-calltoaction > .row > [class^="col-"],
    .bs-calltoaction > .row > [class*=" col-"]{
        float:none;
        display:block;
        vertical-align:middle;
        position: relative;
    }

    .cta-contents{
        text-align: center;
    }
}



.bs-calltoaction.bs-calltoaction-default{
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.bs-calltoaction.bs-calltoaction-primary .cta-button .btn,
.bs-calltoaction.bs-calltoaction-info .cta-button .btn,
.bs-calltoaction.bs-calltoaction-success .cta-button .btn,
.bs-calltoaction.bs-calltoaction-warning .cta-button .btn,
.bs-calltoaction.bs-calltoaction-danger .cta-button .btn{
    border-color:#fff;
}
/* fim call to action*/


/*lista dos contatos online mais fina*/
#listonline {
    padding: 5px 15px;
}
/**/

/*blockquote*/
.blockquote{
    border-left:5px solid;
    padding-left: 20px;
}
.blockquote-inverse{
    border-right:5px solid;
    border-left:0;
    padding-right: 20px;
}
.blockquote-primary{border-color:#357EBD}
.blockquote-success{border-color:#4CAE4C}
.blockquote-info{border-color:#46B8DA}
.blockquote-warning{border-color:#EEA236}
.blockquote-danger{border-color:#D43F3A}
.blockquote-muted{border-color:#ccc}
/*blockquote fim*/

/*search*/
.dropdown.dropdown-lg .dropdown-menu {
    padding: 6px 20px;
}

.input-group-btn .btn-group {
    display: flex !important;
}

.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {

    .dropdown.dropdown-lg {
        position: static !important;
    }

    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
@media screen and (max-width: 767px) {

    .dropdown.dropdown-lg {
        display: none;
    }

}
/* search fim*/

/*fixar menu lateral*/
.fixarmenu {
    position: fixed;
    margin-top: 0px !important;
}
/* fim fixar menu lateral*/

/*placeholder de outra cor*/
.placeholder-sucess::-webkit-input-placeholder {
    color: green;
}
.placeholder-danger::-webkit-input-placeholder {
    color: red;
}
/*fim placeholder de outra cor*/

.hrgrosso {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 5px solid #000000;
}

/*chat new*/
.cv{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3px;

    height: 400px;
    max-height: 400px;
    border-radius: 5px;
    opacity: 1;
    color: white;
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: auto;
    width: 250px;
    margin: 0 auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

}
.cv_no_slide{
    right: 75px;
}
.cv_slide{
    right: 265px;
}
.cv_todo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
}
.cv_topo{
    flex-shrink: 0;
    padding-bottom: 10px;
    display: flex;
    background: transparent;
}
.cv_titulo {
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 5px;
    font-size: small;
}
.cv_topo_times {
    flex-shrink: 0;
    background: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

#btn_clip {
    flex-shrink: 0;
    background: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

#btn_emoji {
    flex-shrink: 0;
    background: transparent;
    border: 0;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.cv_emojis {
    height: calc(100% - 50px);
    overflow: auto;
}

#emoji{
    /*background: white;*/
    border: 0;
    border-radius: 15px;
}
#emoji img{
    border: 0;
    height: 25px;
    width: 25px;
}
.cv_emojis::-webkit-scrollbar {
    width: 5px;
}
.cv_emojis::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}
.cv_emojis::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}

.cv_msgs {
    height: calc(100% - 50px);
    overflow: auto;
    padding: 3px;
    padding-bottom: 0;
    z-index: 999;
}
.cv_msgs::-webkit-scrollbar {
    width: 5px;
}
.cv_msgs::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}
.cv_msgs::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}

.cv_msg_recebida {
    float: left;
    background-color: #ddd;
    color: #000;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: inline-block;
    margin-bottom: 2px;
    clear: both;
    padding: 7px 13px;
    font-size: 12px;
    line-height: 1.4;
}

.cv_msg_recebida strong{
    text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}

.cv_msg_enviada {
    float: right;
    background-color: #0AD5C1;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    display: inline-block;
    margin-bottom: 2px;
    clear: both;
    padding: 7px 13px;
    font-size: 12px;
    line-height: 1.4;
}
.cv_msg_enviada strong{
    text-shadow: 0 0 0.2em #000, 0 0 0.2em #000;
}


.cv_footer {
    height: 50px;
    border-top: 1px solid #ccc;
}
.cv_footer_campo {
    float: left;
    width: 100%;
    height: 100%;
}
#esc_texto {
    float: left;
    width: 80%;
    height: 100%;
    padding: 0 20px;
    border: none;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
}
#esc_arquivo {
    float: left;
    width: 80%;
    height: 100%;
    padding: 10px 20px;
    border: none;
    position: relative;
    vertical-align: middle;
    font-size: 18px;
}

.cv_footer_campo button {
    float: left;
    width: 20%;
    height: 100%;
    border: none;
    position: relative;
    vertical-align: middle;
    font-size: 14px;
}
/*///////////////////////*/
#chaticone{
    position: fixed; /* posição absoluta ao elemento pai, neste caso o BODY */
    bottom: -5px;
    right: 5px;
    padding: 6px;
    margin-left: 5px;
    margin-bottom: 10px;
}
.cvp{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 3px;
    right: 10px;
    height: 400px;
    max-height: 400px;
    border-radius: 5px;
    opacity: 1;
    color: white;
    background: -moz-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background: -webkit-linear-gradient(-45deg, #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    cursor: auto;
    width: 250px;
    margin: 0 auto;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

}
.cvpout{
    display: none;
    /*opacity: 0;*/
}
.cvp_todo {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    border-radius: 0;
    margin: 10px;
    width: auto;
    height: auto;
}


.cvp_busca{
    flex-shrink: 0;
    display: flex;
    padding-top: 5px;
    max-height: 90px;
    background: transparent;
}
.cvp_busca .cvp_busca_pesquisa {
    border-radius: 3px;
    background: rgba(25, 147, 147, 0.2);
    min-height: 100%;
    width: 100%;
    margin-right: 5px;
    color: #fff;
    overflow-y: auto;
    padding: 2px 5px;
}
.cvp_busca .cvp_busca_pesquisa:focus {
    outline: 0;
    box-shadow: 0 0 3pt 2pt rgba(14, 200, 121, 0.3);
}
.cvp_busca .cvp_busca_pesquisa:empty:before {
    content: attr(data-placeholder);
}
.cvp_busca .cvp_busca_pesquisa::-webkit-scrollbar {
    width: 5px;
}
.cvp_busca .cvp_busca_pesquisa::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}
.cvp_busca .cvp_busca_pesquisa::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}



.cvp_corpo {
    height: calc(100% - 50px);
    overflow: auto;
    padding: 1px;
    padding-bottom: 0;

}
.cvp_corpo::-webkit-scrollbar {
    width: 5px;
}
.cvp_corpo::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.1);
}
.cvp_corpo::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(25, 147, 147, 0.2);
}

.cvp_corpo .cvp_contato_on{
    border-radius: 5px;
    border: 0;
    background: rgba(25, 147, 147, 0.2);
    min-height: 10px;
    width: 100%;
    margin-right: 5px;
    margin-top: 1px;
    color: rgb(66, 183, 42);
    overflow-y: auto;
    padding: 2px 5px;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: left;
}
.cvp_corpo .cvp_contato_on span{
     background: rgb(66, 183, 42);
     border-radius: 50%;
     display: inline-block;
     height: 6px;
     margin-left: 4px;
    margin-right: 4px;
     width: 6px;
}
.cvp_corpo .cvp_contato_off{
    border-radius: 5px;
    border: 0;
    background: rgba(25, 147, 147, 0.2);
    min-height: 10px;
    width: 100%;
    margin-right: 5px;
    margin-top: 1px;
    color: #fff;
    overflow-y: auto;
    padding: 2px 20px;
    align-items: center;
    justify-content: center;
    display: block;
    text-align: left;
}
.bg-danger-light{
    background: rgba(240, 128, 128, 0.3);/*color convertida*/
}
.bg-success-light{
    background: rgba(165, 255, 214, 0.3);/*color convertida*/
}
.bg-gradient-success {
    background: #4CAF50 -webkit-gradient(linear, left top, left bottom, from(#67bb6a), to(#4CAF50)) repeat-x !important;
    background: #4CAF50 linear-gradient(180deg, #67bb6a, #4CAF50) repeat-x !important;
}

.bg-gradient-info {
    background: #9C27B0 -webkit-gradient(linear, left top, left bottom, from(#ab47bc), to(#9C27B0)) repeat-x !important;
    background: #9C27B0 linear-gradient(180deg, #ab47bc, #9C27B0) repeat-x !important;
}

.bg-gradient-warning {
    background: #ff9800 -webkit-gradient(linear, left top, left bottom, from(#ffa726), to(#ff9800)) repeat-x !important;
    background: #ff9800 linear-gradient(180deg, #ffa726, #ff9800) repeat-x !important;
}

.bg-gradient-danger {
    background: #e51c23 -webkit-gradient(linear, left top, left bottom, from(#e93e44), to(#e51c23)) repeat-x !important;
    background: #e51c23 linear-gradient(180deg, #e93e44, #e51c23) repeat-x !important;
}

.bg-gradient-dark {
    background: #222 -webkit-gradient(linear, left top, left bottom, from(#434343), to(#222)) repeat-x !important;
    background: #222 linear-gradient(180deg, #434343, #222) repeat-x !important;
}

hr.style1 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}